.container {
    display: grid; 
    grid-template-columns: 0.4fr 2.1fr 0.5fr; 
    grid-template-rows: 0.5fr 2.4fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". Post ."
      ". Comments ."; 
  }
div.Post{
    grid-area: Post;
}

div.Comments { 
    grid-area: Comments;
}